@import url('https://fonts.googleapis.com/css?family=Comfortaa|Nunito:400i');
:root {
    --pink: #FDA7DF;
    --aqua: #12CBC4;
    --red: #EE5A24;
    --gold: #FFC312;
    --grey: #E5E5E5;
    --blue: #1B1464;
    --white: #ffffff;
    --font: 'Comfortaa', sans-serif;
    --brand: 'Nunito', sans-serif;
}

html,
body {
    height: auto;
    min-height: 100vh;
    font-size: 14px;
}

body {
    padding-top: 86px;
    background: var(--blue);
    background-image: url('../images/bg-3.png');
    /* background-repeat: repeat; */
    font-family: var(--font);
}

.navbar-light {
    background: var(--pink) !important;
}

.text-brand {
    color: var(--white);
    font-family: var(--brand);
    font-size: 20px;
    letter-spacing: 4px;
}

.navbar-brand {
    position: absolute;
    left: 0;
    width: 100%;
    font-family: var(--brand);
    color: var(--white) !important;
    font-size: 25px;
    letter-spacing: 4px;
}

.nav-link {
    color: var(--white) !important;
    font-size: 25px;
    margin-right: .1em;
    padding: 0;
}

.navbar-nav {
    z-index: 3;
}

.navbar-toggler {
    border: none;
    font-size: 25px;
    color: var(--white) !important;
    z-index: 3;
    height: 37px;
}

.btn-pill {
    border-radius: 30px;
}

.btn-primary {
    background: var(--aqua);
    border: var(--aqua);
}

.btn-danger {
    background: var(--red);
    border: var(--red);
}

.btn-warning {
    background: var(--gold);
    border: var(--gold);
    color: var(--blue);
}

.btn-light {
    background: var(--grey);
    color: var(--blue);
}

.text-blue {
    color: var(--blue);
}

.inner-card-img,
.card-img-top,
.talk-card,
.talk-card-header,
.shop-card,
.shop-card-header,
.radius-round {
    border-radius: 20px;
}

.talk-history,
.shop-details {
    overflow: auto;
    height: 100%;
}

.talk-card-header,
.shop-card-header {
    height: 70px;
    line-height: 50px;
    font-size: 20px;
    color: var(--blue);
    letter-spacing: 4px;
}

.outer-card {
    border: none;
}

.close-talk,
.close-shop {
    position: absolute;
    font-size: 25px;
    right: 0;
    letter-spacing: 0;
    line-height: 55px;
}

.text-red {
    color: var(--red);
}

.talk-block,
.price-block {
    border-radius: 20px;
    background: var(--grey);
    color: var(--blue);
    padding: 10px 25px 10px 25px;
    font-size: 14px;
}

.text-lg {
    font-size: 25px;
    font-family: var(--brand)
}

.text-md {
    font-size: 20px;
    font-family: var(--brand);
}

.talk-input {
    border-radius: 20px;
    color: var(--blue);
    padding: 10px 25px 10px 25px;
    font-size: 14px;
}

.form-group {
    margin: 0;
}

.bg-pink {
    background: var(--pink);
}

.bg-blue {
    background: var(--blue);
}

.bg-gold {
    background: var(--gold);
}

.bg-aqua {
    background: var(--aqua);
}

.outer-talk-card {
    min-height: 100%;
}

.outer-talk-card,
.outer-shop-card,
.back-col,
.found-row,
.status-display {
    display: none;
}

.gradient {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    border-radius: 20px;
}

.fa-star {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 3;
    font-size: 35px;
}

.close-item {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 3;
    font-size: 35px;
}

.text-dark {
    color: var(--blue);
}

.text-warning {
    color: var(--gold);
}

.text-danger {
    color: var(--red);
}

.text-aqua {
    color: var(--aqua);
}

.text-pink {
    color: var(--pink);
}

.profile-photo {
    border-radius: 50%;
    width: 100%;
}

.i-lg {
    font-size: 25px;
}

.welcome-text {
    line-height: 27px;
}

.shop-btn {
    border: 4px solid var(--aqua);
}

.talk-btn {
    border: 4px solid var(--red);
}

.visit-btn:hover {
    background: #1289A7;
}

.btn-danger:hover {
    background: #EA2027;
}

.shoe-btn {
    border: 4px solid var(--gold);
}