@import url('https://fonts.googleapis.com/css?family=Comfortaa|Nunito:400i');
:root {
    --pink: #FDA7DF;
    --aqua: #12CBC4;
    --red: #EE5A24;
    --gold: #FFC312;
    --grey: #E5E5E5;
    --blue: #1B1464;
    --white: #ffffff;
    --font: 'Comfortaa', sans-serif;
    --brand: 'Nunito', sans-serif;
}

html,
body {
    height: auto;
    min-height: 100vh;
    font-size: 12px;
}

body {
    padding-top: 86px;
    background: var(--blue);
    font-family: var(--font);
}

.navbar-light {
    background: var(--pink) !important;
}

.navbar-brand {
    position: absolute;
    left: 0;
    width: 100%;
    font-family: var(--brand);
    color: var(--white) !important;
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 43px;
}

.nav-link {
    color: var(--white) !important;
    font-size: 25px;
    margin-right: .1em;
}

.navbar-nav {
    z-index: 3;
}

.navbar-toggler {
    border: none;
    font-size: 25px;
    color: var(--white) !important;
    z-index: 3;
}

.btn-pill {
    border-radius: 30px;
}

.btn-primary {
    background: var(--aqua);
    border: var(--aqua);
}

.btn-danger {
    background: var(--red);
    border: var(--red);
}

.inner-card-img,
.card-img-top,
.talk-card,
.talk-card-header {
    border-radius: 20px;
}

.talk-card-header {
    height: 70px;
    line-height: 50px;
    font-size: 20px;
    color: var(--blue);
    letter-spacing: 4px;
}

.outer-card {
    border: none;
}

.close-talk {
    position: absolute;
    font-size: 25px;
    right: 0;
    letter-spacing: 0;
    line-height: 55px;
}

.text-red {
    color: var(--red);
}

.talk-block {
    border-radius: 20px;
    background: var(--grey);
    color: var(--blue);
    padding: 10px 25px 10px 25px;
    font-size: 14px;
}
.talk-input {
    border-radius: 20px;
    color: var(--blue);
    padding: 10px 25px 10px 25px;
    font-size: 14px;
}

.form-group {
    margin: 0;
}

.bg-pink {
    background: var(--pink);
}

.outer-talk-card {
    min-height: 100%;
}